<!DOCTYPE html>

@import play.mvc.Http.Context.Implicit._

<html>
<head>
<title>I'm Alive Dashboard</title>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.min.css")'>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<!-- script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script> -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.flot.js"))'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/app.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/services.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/indexcharts.min.js")'></script>
</head>

<body ng-app="imAlive">
	<!-- angularjs directive see app.js, services.js, and controllers.js -->

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="@routes.Application.index">Who is Alive?</a>
				<div class="pull-right">
					<a href="@routes.SimpleExamples.home"><button class="btn">Simple Examples</button></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h2>Status Feed</h2>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6">
				<div ng-controller="AliveCtrl">
					<!-- div id="header">
			    Customer:
				<select ng-model="currentCustomer"
				   ng-change="setCurrentCustomer(currentCustomer)"
				   ng-options="r.name for r in customers" id="customerSelect">
				</select>
		             </div>  -->

					<div id="header"></div>

					<div id="messages-out">
					<!--  {"id":1001,"message":"I'm Alive","ts":1377635592057,"tsFormatted":"2013-08-27 14:33:12","cid":1,"cName":"Govermnet Snoopers",
					       "mac":"0090990F9F99","ip":"222.222.222.222","lat":38.907231,"long":-77.036464,"info":"Email reader 39"} -->
						<div class="msg" ng-repeat="msg in msgs | limitTo:-10">
							<strong>"{{msg.message}}" from {{msg.mac}}/{{msg.ip}} | {{msg.cid}}/{{msg.cName}} </strong><br /> 
							{{msg.tsFormatted}} ({{msg.ts}})<br />
							<strong>{{msg.info}} | latitude/longitude: {{msg.lat}}/{{msg.long}}</strong><br />
						</div>
					</div>

					<div id="footer"></div>
				</div>
				
			</div><!-- span6 -->
			<div class="span6">
				Chart One<br/>
				<div id="placeholder" style="width:600px;height:300px"></div>
				Chart Two<br/>
				<div id="placeholder2" style="width:600px;height:300px"></div>
			</div><!-- span6 -->

		</div>
	</div>
	<div id="monitor-out" class="container"></div>
</body>
</html>